{% extends "base.html" %}

{% load wagtailimages_tags %}

{% block content %}

<h2 class="p-10 flex m-0 font-medium text-3xl">{{self.title}}</h2>

{% image self.image width-400 as product_image %}

<div class="flex flex-cols-2">
    <aside class="p-10">
        <img 
            src="{{product_image.url}}"
            width="{{ product_image.width }}"
            height="{{ product_image.height }}"
            alt="{{ product_image.alt }}"/>
    </aside>
    <article class="p-10">
        <p class="text-xl text-center">{{self.description}}</p>
        <br><br>
        <p class="font-semibold text-lg">Price: £{{ self.price }}</p>
    </article>
</div>

{% endblock %}