{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="{% static "css/tailwind-output.css" %}">
        {% block extra_css %}
        {% endblock %}
    </head>

    <header class="bg-gray-100 font-light flex items-center justify-between">
        <a href="/">
            <img src="{% static 'images/kaamos.JPG' %}" width="100" />
        </a>
        <nav class="text-lg mr-10">
            <a href="/products" class="p-5 hover:bg-gray-50 hover:underline hover:text-black">All Products</a>
            <a href="/about" class="p-5 hover:bg-gray-50 hover:underline hover:text-black">About Us</a>
        </nav>
        <a href="/shopping-cart" class="mr-10">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
        </a>
    </header>
    <body class="{% block body_class %}{% endblock %} font-sans bg-gray-50 text-gray-600 text-2xl font-light">
        {% wagtailuserbar %}

        <div class="min-h-screen p-6 flex flex-col place-items-center sm:p-12">
            {% block content %}{% endblock %}
        </div>

        <script type="text/javascript" src="{% static 'js/kaamos_shop.js' %}"></script>

        {% block extra_js %}
        {% endblock %}
    </body>
</html>
