{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-productpage{% endblock %}

{% block content %}

<a href="{{page.get_parent.url}}" class="text-sm place-self-start p-2 hover:underline hover:bg-gray-100 hover:text-black">< Back to all products</a>
<h2 class="p-10 flex m-0 font-medium text-3xl">{{page.title}}</h2>

<div class="flex flex-cols-2">
    <aside class="p-10">
    {% image page.image width-400 %}
    </aside>
    <article class="p-10">
        <p class="text-xl text-center font-light">{{page.description}}</p>
        <br><br>
        <p class="font-medium text-lg">Price: £{{ page.price }}</p>
    </article>
    <form action="{% url "shopping_cart:cart_add" page.sku %}" method="post">
        {{ cart_product_form }}
        <button type="submit">Add to Basket</button>
        {% csrf_token %}
    </form>
</div>

{% endblock %}