{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<h2 class="p-5 flex m-0 font-medium text-3xl">{{self.title}}</h2>

<div id="list-wrapper">
    <ul class="flex flex-row">
        {% for item in self.get_children %}
        <a href="{% pageurl item %}" class="hover:bg-gray-100 hover:underline">
            <li class="p-10">
            {% image item.specific.image height-200 as image %}
                <div class="shadow-xl m-5">
                    <img src="{{image.url}}" class="p-5" />
                </div>
                <p class="text-lg text-center font-extralight">{{item.specific.title}}</p>
            </li>
        </a>
        {% endfor %}
    </ul>
</div>

{% endblock %}