{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2 class="p-5 flex m-0 font-medium text-3xl">Shopping Cart</h2>
<table>
    <thead>
    <tr>
        <th></th>
        <th class="pr-10 pb-10 text-lg font-light">Product</th>
        <th class="pr-10 pb-10 text-lg font-light">Quantity</th>
        <th></th>
        <th class="pr-10 pb-10 text-lg font-light">Price</th>
        <th class="pr-10 pb-10 text-lg font-light">Total</th>
    </tr>
    </thead>
    <tbody>
    {% for key, product in cart.items %}
    {% comment %} {% with product=value %} {% endcomment %}
    <tr>
        <td>
            <a href="{{product.get_url}}">
                <img src="{{product.image}}" />
            </a>
        </td>
        <td>{{product.title}}</td>
        <td>{{product.quantity}}</td>
        <td>
            <form action="/shopping-cart/remove/{{product.sku}}" method="post">
            {% csrf_token %}
            <input type="submit" value="Remove">
            </form>
        </td>
        <td class="num">£{{ product.price }}</td>
    </tr>
    {% comment %} {% endwith %} {% endcomment %}
    {% endfor %}
    <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">£{{ cart.get_total_price }}</td>
    </tr>
    </tbody>
</table>
<p>
    <a href="#">Checkout</a>
</p>

{% endblock %}