{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}

    <div class="p-5 mb-5 font-light text-center">{{self.intro|richtext}}</div>

    <form action="/contact-us/" method="POST">
        {% csrf_token %}

        {% for field in form %}
            <div class="fieldWrapper p-5 bg-gray-100">
                {{ field.errors }}
                <div class="text-sm">{{ field.label_tag }}</div>
                <div class="align-baseline">{{ field }}</div>
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="bg-blue-100 mt-5 p-5 font-light text-sm text-gray-600 hover:underline hover:text-black hover:bg-blue-200">
            Submit Form
        </button>
    </form>

{% endblock %}